services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html:rw
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: backend_nginx
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./backend:/var/www/html:rw
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network
    command: [nginx-debug, '-g', 'daemon off;']

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
